<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">

    <display-name>WelcomeServlet</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/error-404.html</location> <!-- /src/main/webapp/error-404.html-->
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <!--
        <display-name>Servlet name for tomcat</display-name>

        <servlet>
            <servlet-name>mainServlet</servlet-name>
            <servlet-class>com.dsa.controller.unready.MainServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>mainServlet</servlet-name>
            <url-pattern>/</url-pattern>
        </servlet-mapping>
    -->
    <!--
        <servlet>
            <servlet-name>mainServlet</servlet-name>
            <servlet-class>com.dsa.controller.unready.MainServlet</servlet-class>
            <init-param>
                <param-name>log4j-init-file</param-name>
                <param-value>WEB-INF/classes/log4j.lcf</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>mainServlet</servlet-name>
            <url-pattern>/</url-pattern>
       </servlet-mapping>
    -->
    <!--
        <listener>
            <listener-class>org.h2.server.web.DbStarter</listener-class>
        </listener>
    -->
</web-app>